@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

:root {
    --font-main:'Poppins', sans-serif;
    --font-size: 16px;
    --font-symbol: "Noto Sans Symbols 2", sans-serif;

    --accent-color: rgb(18, 18, 18);
    --bg-color:rgb(255, 255, 255);
    
    --hl-color1:rgb(167, 224, 255);;
    --hl-color2:rgb(0, 0, 0);

    --gutters: calc(var(--font-size) * 2);
}


/* * {border:1px solid red;}  */


body {
    font-family: var(--font-main);
    font-size: var(--font-size);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutters);
}

header {
    padding-top: var(--gutters);
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}
h1 {
    font-size: calc(var(--font-size) * 2);
    color: var(--accent-color);
}

h2 {
    font-size: var(--font-size);
    font-weight: 500;
    padding-bottom: calc(var(--gutters)/2);
}
.projects {
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}

.project_info {
    font-size: calc(var(--font-size) / 1.2);
    margin-bottom:calc(var(--gutters)/2);
    display:flex;
    gap: calc(var(--gutters) * 3);
}

li {
    width: 100%;
    /* padding-left: calc(var(--gutters)/2); */
    /* padding-right: calc(var(--gutters)/2); */
    padding-bottom: calc(var(--gutters)/2);
    padding-top: calc(var(--gutters)/2);
    border-top:1px solid var(--accent-color);
    display:flex;
    justify-content: space-between;

}

/* li:last-child {
    border-bottom:1px solid var(--accent-color);
} */

/*
li:not(:last-child){
    margin-bottom: calc(var(--gutters)/2);
}
*/

li:hover {
    background-color: var(--hl-color1);
    color: var(--hl-color2);
}
.outwards::after {
	font-family: var(--font-symbol);
	content: '🡭'; 
}

footer {
    font-size: calc(var(--font-size) / 1.5);
    background-color: var(--accent-color);
    padding-left: var(--gutters);
    padding-top: var(--gutters);
    padding-bottom: var(--gutters);
    padding-right: var(--gutters);
    color: white;
    bottom:0;
    width:100%;

    
}

@media(min-width: 600px) {

    :root {
    --font-size: 26px;
    }
/*
    ol {
        display: flex;
        display: row;
    }
*/
    li:not(:last-child),  li:last-child{
        margin-bottom: 0;
    }

    li:not(:last-child){
        margin-right: var(--gutters);
    }




}